@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #497fff;
    --blue-transparent-10: rgba(73, 127, 255, 0.1);
    --grey: #5b5b5b;
    --grey-2: #7c7c7c;
}
.inter-normal-black {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 542;
    color: #000000;
}

.inter-normal-blue {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 542;
    color: var(--blue);
}

.inter-normal-grey {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 542;
    color: var(--grey);
}

.inter-12-grey-2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    font-weight: 568;
    color: var(--grey-2);
}

.inter-normal-white {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 542;
    color: #ffffff;
}

.icon-20-grey {
    width: 20px;
    height: 20px;
    color: var(--grey);
}

.icon-20-blue {
    width: 20px;
    height: 20px;
    color: var(--blue);
}

.icon-20-white {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.icon-16-grey {
    width: 16px;
    height: 16px;
    color: var(--grey-2);
}

.labelled-dropdown {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}
img {

    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
}



.sidebar {   
    background: #f6f6f6; 
}

.sidebar-header {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-footer {

}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar-nav-option {
    width: 240px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 8px;
    display: flex;
    gap: 10px;

}

.sidebar-nav-option-highlight {
    background: var(--blue-transparent-10);
    width: 240px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 8px;
    display: flex;
    gap: 10px;

}

.sidebar-section {

    display: flex;
    flex-direction: column;
    gap: 8;

}

.sidebar-section-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar-workspaces-option {
    padding-left: 16px;
    padding-right: 16px;
}
.sidebar-categories {

}

.hero-content {
    flex-grow: 1;
}
.home {
    

}

.nav {
    height: 56px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.nav-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.labelled-icon-gap-16 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.labelled-icon-gap-12 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.labelled-icon-gap-4 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-upload-and-profile {
    display: flex;
    gap: 32px;
}

.upload-button {
    
    padding: 12px;
    border-radius: 8px;
    background: var(--blue);
    display: flex;
    align-items: center;
    gap: 8px;
}

.search {

}

.recents {

}

.files {

}